.about-content {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(230, 232, 235);
    border: 1px solid #ccc;
    border-radius: 8px;
}

.about-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color:  rgb(46, 45, 45);
}

.about-content p {
    margin-bottom: 15px;
    font-size: 1em;
    color: #666;
}

.about-content a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.about-content a:hover {
    text-decoration: underline;
}
